header {
  height: 100vh; !important;
  color: white;
  background-repeat:no-repeat;
  background-size:auto 100%;
  overflow: hidden;
  /*background-color: #CE2D4F;*/
}

.text_black
{
  color: black;
}

.bgdiv
{
  height: 100vh;
  width: auto;
}

.bgcolor
{
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5
}

.bgimgsize
{
  width: 100%; !important;
  z-index: -5;
}

.videosize
{
  width: 100%; !important;
  z-index: -5;
}

.total
{
  height: 100vh; !important;
}

.fa.fa-navicon {
  color:white;
}

.navbar-default .navbar-toggle {
    	border-color: transparent;
    	color: white;
    }

.imgperfil
{
  height: auto;
  width: 70%;
}

.imgabout
{
  height: auto;
  width: 90%;
}
.imgtk
{
  height: 100px;
  width: auto;
  margin-left: 15%;
}
.bg-map {
  position: absolute;
  left: -272px !important;
  top: 70px;
}

.img02
{
  height: 200px;
  width: auto;
}

.carouselbg
{
  height: 47vh;
}
.gr
{
  background-color: black;
  opacity: 0.4;
}

b, strong {
    font-weight: bold;
}

.logoserv
{
  height: auto;
  width: 7%;
  margin:4%;
}
.colpadding
{
  padding: 2%;
}

footer
{
  height: 107px;
  background-color: #484b4d;
}

pfooter
{
  font-size: 17px;
  font-family: Roboto light;
  letter-spacing: 1px;
  color: white;
}

.box {
  padding-right: 20%;
  padding-left:  20%;
}

.project {
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;;
    opacity: 1;
    overflow: hidden;
  }

.dropdown-item
{
  font-size: 14px;
  font-family: Roboto light;
  letter-spacing: 1px;
  color: white;
}

.dropdown-menu
{
  background: #484b4d;
  border: 0px;
}

.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 5;
}

a {color: white;}
.active {color:black; }
a:hover {color: black;}
a:active {color: black;}

.dropdown-item.active, .dropdown-item:active {
    color: black;
    text-decoration: none;
    background-color: transparent;
}
.dropdown-item.hover, .dropdown-item:hover {
    color: black;
    text-decoration: none;
    background-color: transparent;
}
.dropdown-item.link, .dropdown-item:link {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

p
{
  font-size: 17px;
  font-family: Roboto light;
}

.verticalalignnone
{
  vertical-align: baseline;
}

h1
{
  font-size: 47px;
  font-family: Roboto black;
  letter-spacing: 4px;
  margin: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h2
{
  font-size: 2.1rem;
  font-family: Roboto medium;
  letter-spacing: 1px;
}
h3
{
  font-size: 1.7rem;
  font-family: Roboto medium;
  letter-spacing: 0px;
}
h4
{
  font-size: 1.4rem;
  font-family: Roboto light;

}


.navbar-brand
{
  font-size: 21px;
    font-family: Roboto light;
  letter-spacing: 1px;
  color: white;
}

.nav-item
{
  font-size: 17px;
  font-family: Roboto light;
  letter-spacing: 1px;
  color: black;
}

section {
  padding: 150px 0;
}

.navbar-default {
  transition:250ms ease;
  background:transparent;
}
.navbar-default.scrolled{
  background-color: #484b4d;
  color:white;
}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
  margin-right: 12rem;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

@font-face {
	font-family: "Roboto";
	font-style: medium;
	font-weight: 300;
	src: url("Roboto-Medium.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: black;
	font-weight: 300;
	src: url("Roboto-Black.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: bold;
	font-weight: 300;
	src: url("Roboto-Bold.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	src: url("Roboto-Italic.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: light;
	font-weight: 300;
	src: url("Roboto-Light.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: regular;
	font-weight: 300;
	src: url("Roboto-Regular.ttf") format('truetype');
}
